<template>
  <div
    class="grid-preview"
    :style="'grid:' + rule + '; grid-gap:' + gap + 'px'"
    ref="preview"
  >
    <div v-for="n in children" v-bind:key="n">{{ n }}</div>
  </div>
</template>

<style>
.grid-preview {
  display: grid;
  background: #ececec;
  min-width: 300px;
  min-height: 300px;
  max-width: 100vw;
  overflow: auto;
  resize: both;
}

.grid-preview > div {
  display: flex;
  background: #c4c4c4;
  border: 2px solid #acacac;
  color: #757575;
  align-items: center;
  justify-content: center;
}
</style>

<script>
export default {
  props: {
    rule: String,
    gap: Number,
    children: Number
  },
  watch: {
    rule: function(newVal, oldVal) {
      setTimeout(() => this.updateProps())
    }
  },
  mounted() {
    this.updateProps()
  },
  methods: {
    updateProps: function() {
      const properties = Array.from(this.$refs.preview.style)
      const values = properties.map(p => this.$refs.preview.style[p])
      this.$store.commit(
        'grid/setProperties',
        values.reduce(function(result, field, index) {
          result[properties[index]] = field
          return result
        }, {})
      )
    }
  }
}
</script>
