<template>
  <div class="container">
    <div>
      <h1 class="title">
        Explain
      </h1>
      <h2 class="subtitle">
        Tell me what this shorthand property means!
      </h2>
      <div class="form-group preset-buttons">
        <button
          v-for="(r, i) in preset_rules"
          v-bind:key="i"
          v-on:click="rule = r"
          v-text="r"
        ></button>
      </div>
      <div class="form-group">
        <label for="grid-gap">Gap </label>
        <input
          v-model="gap"
          type="number"
          id="grid-gap"
          class="form-input"
          min="0"
        />
      </div>
      <div class="form-group">
        <label for="grid-children">Total items </label>
        <input
          v-model="children"
          type="number"
          id="grid-children"
          class="form-input"
          min="1"
        />
      </div>
      <div class="form-group">
        <label for="grid-rule">grid: </label>
        <textarea
          v-model="rule"
          type="text"
          id="grid-rule"
          class="form-input"
          rows="1"
          cols="60"
        ></textarea>
      </div>
    </div>
    <div>
      <Grid :rule="rule" :gap="parseInt(gap)" :children="_children" />
      <h3 class="rule-preview">{{ rule }}</h3>
      <dl class="css-properties">
        <template v-for="(v, k) in $store.state.grid.properties" v-if="k.match(/^grid\-/) || k.match(/gap$/)">
          <dt :class="'highlight-' + (k.match(/row/) ? '1' : (k.match(/column/) ? '2' : '3'))">{{ k }}</dt>
          <dd>{{ v }}</dd>
        </template>
      </dl>
    </div>
  </div>
</template>

<script>
import Grid from '@/components/Grid'

export default {
  components: {
    Grid
  },
  computed: {
    _children() {
      return this.children > 0 ? parseInt(this.children) : 1
    }
  },
  data() {
    return {
      gap: 10,
      children: 18,
      rule: 'minmax(400px, min-content) / repeat(auto-fill, 50px)',
      preset_rules: [
        'minmax(400px, min-content) / repeat(auto-fill, 50px)',
        'auto-flow / repeat(auto-fit, minmax(250px, 1fr))',
        'auto-flow dense / repeat(3, 1fr)',
        '100px 300px / 3fr 1fr',
        '100px 300px / auto-flow 100px',
        '100px auto 300px / repeat(2, 1fr) 100px',
        'auto-flow dense 100px 300px / 100px repeat(3, 1fr)',
        '[line1] minmax(20em, max-content) / auto-flow dense 40%',
        '100px 300px / auto-flow dense 100px',
        '80px 180px 80px / 1fr 1fr 1fr' /* ,
        '"header   header   header" 80px\n' +
          '"main     main     sidebar" 180px\n' +
          '"footer   footer   footer" 80px\n' +
          '/ 1fr 1fr 1fr' */
      ]
    }
  }
}
</script>

<style>
.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: inline-block;
  padding-top: 0.2em;
  color: #c4c4c4;
}

.form-input {
  padding: 0.5em 0.75em;
  vertical-align: top;
  border: 2px solid #ececec;
  border-radius: 6px;
}

.form-input:focus {
  outline: none;
  border-color: #c4c4c4;
}

.preset-buttons button {
  margin: 0.5em 0.75em;
  padding: 0.5em 0.75em;
  border-radius: 6px;
  border: 2px solid #ececec;
  background: #f4f4f4;
  white-space: pre-wrap;
  text-align: left;
}

.preset-buttons button:hover {
  background-color: #ececec;
}

.preset-buttons button:focus {
  border-color: #c4c4c4;
  outline: none;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle,
.rule-preview {
  font-weight: 300;
  font-size: 42px;
  word-spacing: 5px;
}

.subtitle {
  margin-bottom: 16px;
  color: #526488;
}

.rule-preview {
  margin-top: 16px;
  color: #999;
  white-space: pre-wrap;
  text-align: left;
  margin-right: -6.5rem;
}

.rule-preview::before,
.rule-preview::after {
  color: #c4c4c4;
}

.rule-preview::before {
  content: 'grid: ';
  display: inline-block;
  text-indent: -6.5rem;
}

.rule-preview::after {
  content: ';';
}

.css-properties {
  margin: 16px 0;
  display: grid;
  grid: auto-flow / 166px 1fr;
  grid-gap: 8px 16px;
}

.css-properties .highlight-1 {
  color: #f00;
}

.css-properties .highlight-2 {
  color: #0f0;
}

.css-properties .highlight-3 {
  color: #00f;
}

.css-properties dt {
  text-align: right;
  color: #c4c4c4;
}

.css-properties dt::after {
  content: ':';
}

.css-properties dd {
  text-align: left;
  color: #999;
}

.css-properties dd::after {
  content: ';';
  color: #c4c4c4;
}
</style>
